.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.modal {
  background: white;
  border-radius: 8px;
  width: 90%;
  max-width: 540px;
  color: #3b3c51;
  max-height: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 12px 20px;
  background: #3b3c51;
}

.modalHeader h2 {
  color: #fff;
  font-size: 1rem;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 20px;
  flex: 1;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formGroup label {
  font-weight: 500;
  color: #3b3c51;
  font-size: 16px;
}

label span {
  color: red;
}

.input {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  font-family: inherit;
  transition: border-color 0.2s ease;
}

.input:focus {
  outline: none;
  border-color: #4a70d1;
}

.inputError {
  border-color: #dc3545;
}

.inputError:focus {
  border-color: #dc3545;
}

.errorText {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: -0.25rem;
}

.textarea {
  resize: none;
  height: 120px;
  line-height: 1.5;
}

.toggleGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Toggle Switch Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
  border: 1px solid #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

input:checked + .slider {
  background-color: #4a70d1;
  border-color: #4a70d1;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #3b3c511a;
  margin-top: auto;
}

.submitButton {
  padding: 10px 14px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s;
  background-color: #1b48da;
  border: none;
  color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.ClearButton {
  background: transparent;
  border: none;
  color: #3b3c51;
  font-size: 16px;
  cursor: pointer;
}
