.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: white;
  width: 100%;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

.menuButton img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.menuButton.open img {
  transform: rotate(90deg);
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.greeting {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #3b3c51;
}

.greetingIcon {
  width: 24px;
  height: 24px;
  margin-bottom: 18px;
}

.date {
  color: #666;
  font-size: 0.875rem;
  margin-left: 2rem;
  line-height: 0;
}

.userMenu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.createBtn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background: #1b48da;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: white;
}

.searchIcon {
  width: 16px;
  height: 16px;
  opacity: 0.5;
}

.searchInput {
  border: none;
  outline: none;
  font-size: 0.875rem;
  width: 200px;
}

.userInitialsContainer {
  position: relative;
}

.userInitials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fde48a;
  color: #923e0e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 0.5rem;
  background: white;
  border-radius: 4px;

  min-width: 120px;
  z-index: 1000;
}

.dropdownItem {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  color: #333;
  font-size: 0.875rem;
}

.dropdownItem:hover {
  background: #f5f5f5;
}

@media (max-width: 768px) {
  .header {
    padding: 0.75rem 1rem;
  }

  .menuButton {
    display: block;
  }
  .searchBar {
    padding: 0.4rem;
    width: 100px;
  }

  .searchInput {
    font-size: 0.4rem;
  }

  .userMenu {
    gap: 0.75rem;
  }
  .date {
    font-size: 0.5rem;
    line-height: 1;
  }

  /* .date {
    display: none;
  } */
  .greeting {
    font-size: 0.7rem;
  }

  .greetingIcon {
    width: 18px;
    height: 18px;
    margin-bottom: 15px;
  }

  /* .greeting {
    display: none;
  } */

  .searchBar.open {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0.75rem 1rem;
    background: white;
    border-top: 1px solid #eee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .createBtn {
    padding: 0.4rem;
    font-size: 0.4rem;
  }

  .userInitials {
    width: 32px;
    height: 32px;
    font-size: 0.8rem;
  }
}
